<div class="container-fluid w-100 h-auto p-0">  
     
    <app-nav></app-nav>
    
    <div class="container p-0 h-100">

        <div class="custom-container my-4">
            <span class="title bg-transparent text-uppercase lh-1">
                ¡Bienvenidos a Veggie Market, tu destino saludable!
            </span>
        </div>

        <div class="text-center my-5">
            <button class="btn-custom shadow-sm py-3"> Explora nuestros productos </button>
        </div>

        <div class="row row-cols-3 text-center d-flex align-items-center mb-5">
            <div class="col">
                <p class="m-0 subtitle">Nuestros productos son cultivados con cuidado y dedicación, garantizando frescura.</p>
            </div>
            <div class="col container-center d-flex justify-content-center align-items-center">     
                <img src="../../../../favicon.ico" alt="Icono">
                <p class="fw-bold m-0 mx-2">Veggie Market</p>
            </div>
            <div class="col">
                <p class="m-0 subtitle">Colaboramos con proveedores de calidad para ofrecerte productos excepcionales.</p>
            </div>
        </div>
        
        <div class="hr-custom my-5"></div>

        <div class="text-center">
            <p class="subtitle text-uppercase"> Productos de calidad </p>
            <div class="row row-cols-2 row-info text-center my-5">
                <div class="col col-right">
                    <div class="container-img px-5 "></div>
                </div>
                <div class="col px-5 text-start">
                    <div class="container container-right px-5">
                        <span class="title-xx-large">Comprometidos con la Excelencia</span>
                        <p class=" mt-4">En Veggie Market, nos enorgullece ofrecerte productos de calidad excepcional. Nos tomamos en serio la selección de cada uno de nuestros vegetales y productos frescos. Desde el campo hasta tu mesa, aplicamos un proceso de selección rigurosa que garantiza que solo los mejores productos lleguen a tu hogar. Trabajamos en estrecha colaboración con agricultores y proveedores que comparten nuestro compromiso con la frescura y la excelencia, para brindarte una experiencia gastronómica inigualable.</p>
                        <p class="pt-2">Calidad sin igual, siempre en tu mesa.</p>
                        <button class="btn-custom shadow-sm mt-3"> Más información </button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    
    <div class="container-product text-center py-2">
        <div class="container py-5 bg-transparent">
            <h1 class="title-xx-large text-white m-auto w-50">Explora Nuestra Variedad de Vegetales</h1>
            <p class="w-50 bg-transparent text-white m-auto mt-3">En Veggie Market, ofrecemos una variedad excepcional de vegetales frescos, divididos en tres categorías principales, cada una aportando su propia versatilidad a tus platos. La calidad comienza con nuestros ingredientes.</p>
            <div class="row row-cols-3 bg-transparent mt-5 pt-1">
                <div class="col bg-transparent px-5">
                    <img src="../../../../assets/img/page/home/Banner-Home-3.png" alt="Hojas Verdes">
                    <h1 class="title-xx-large fs-5 text-uppercase mt-3 text-white">Vegetales de Hojas Verdes</h1>
                    <p>Experimenta la frescura crujiente y vibrante de nuestros vegetales de hojas verdes, ideales para ensaladas y platos saludables.</p>
                    <a href="">Explora nuestros productos</a>
                </div>
                <div class="col bg-transparent px-5">
                    <img src="../../../../assets/img/page/home/Banner-Home-4.png" alt="Raíz">
                    <h1 class="title-xx-large fs-5 text-uppercase mt-3 text-white">Vegetales de Raíz</h1>
                    <p>Descubre la profundidad y robustez de nuestros vegetales de raíz, perfectos para guisos, purés y platos llenos de sabor.</p>
                    <a href="">Explora nuestros productos</a>
                </div>
                <div class="col bg-transparent px-5">
                    <img src="../../../../assets/img/page/home/Banner-Home-5.png" alt="Fruto">
                    <h1 class="title-xx-large fs-5 text-uppercase mt-3 text-white">Vegetales de Fruto</h1>
                    <p>Añade color y vitalidad a tu cocina con nuestros vegetales de fruto, ideales para salsas, ensaladas y platos principales.</p>
                    <a href="">Explora nuestros productos</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container p-0 h-100">
        <div class="text-center">
            <div class="row row-cols-2 text-center my-5 py-4">
                <div class="col-6 p-0 text-start">
                    <div class="container px-5">
                        <span class="title-xx-large">Únete a Nuestra Comunidad de Agricultores</span>
                        <p class=" mt-4">En Veggie Market, damos la bienvenida a agricultores apasionados que desean compartir sus productos con el mundo. Únete a nuestra plataforma y conviértete en uno de nuestros proveedores de confianza. Te ofrecemos una audiencia comprometida y la oportunidad de dar a conocer tus productos frescos al mundo entero. Juntos, cultivaremos un futuro más saludable y sostenible.</p>
                        <p class="pt-2">Cultivando juntos un mundo más fresco y saludable.</p>
                        <button class="btn-custom shadow-sm mt-3 w-25"> Únete </button>
                    </div>
                </div>
                <div class="col">
                    <div class="row row-cols-2 row-img-supplier">
                        <div class="col px-2">
                            <img  src="../../../../assets/img/page/home/Banner-Home-7.png" alt="">
                        </div>
                        <div class="col px-2">
                            <img  src="../../../../assets/img/page/home/Banner-Home-6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="container-supplier w-100 mb-5">
        <div class="container bg-transparent float-end w-25">
            <h1 class="bg-transparent text-white title-xx-large">Descubre a Nuestros Productores Asociados</h1>
            <p class="bg-transparent text-white">Explora a los agricultores y proveedores que se han unido a nuestra comunidad. Garantizamos estándares de calidad excepcionales para que puedas confiar en sus productos en nuestra plataforma.</p>
            <button class="btn-custom btn-custom-white shadow-sm mt-3"> Explorar Productores </button>
        </div>
    </div>

    <app-footer></app-footer>
    
</div>
