<div class="container-fluid">
    <div class="container py-4" >
        <div class="row row-cols-5 align-items-center px-2">
            <div class="col">
                <a href="" class="">About us</a>
            </div>
            <div class="col">
                <a href="" class="">Terms & Conditions</a>
            </div>
            <div class="col d-flex justify-content-center align-items-center">     
                <img src="../../../../favicon.ico" alt="Icono">
                <p class="fw-bold m-0">Veggie Market</p>
            </div>
            <div class="col text-end">
                <a href=""  class="">Contact</a>
            </div>
            <div class="col text-end">
                <a routerLink="/auth/login-admins">Setting</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="hr-custom"></div>
    </div>

    <p class="footer-text text-center py-3">Desarrollo Aplicaciones Web Avanzado</p>
</div> 